.features {
	background: var(--text-bright-color);
	padding: 50px 0;
	position: relative;
	overflow: hidden;
	color: #fff;

	&__container {
		max-width: 1248px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li {
			flex: 0 1 33.33%;
			text-align: center;
			padding: 0px 25px;
			border-right: 1px solid rgba(197, 197, 197, 1);

			div {
				font-weight: 700;
				font-size: 44px;
			}

			p {
				font-weight: 500;
				font-size: 15px;
			}
		}

		:nth-child(3n) {
			border-right: none;
		}
	}
}

@media (max-width: 768px) {
	.features__list {
		li {
			flex: 0 1 100%;
			padding: 20px 0px;
			border-right: none;
			border-bottom: 1px solid rgba(197, 197, 197, 1);
		}

		:nth-child(3n) {
			border-bottom: none;
		}
	}
}

@media (max-width: 375px) {
	.features {
		padding: 60px 0;

		&__list li div {
			font-size: 43px;
		}

		&__list li p {
			font-size: 14px;
		}
	}
}
