@import './normalize.scss';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 18px;
	font-weight: 400;
	color: #676767;

	--text-color: #676767;
	--header-text-color: #606060;
	--header-nav-hover: #6c5fbc;
}

.container {
	max-width: 1248px;
	margin: 0 auto;
	padding: 0 15px;
}
