@import './normalize.scss';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 18px;
	font-weight: 400;
	color: #676767;

	--text-color: #676767;
	--text-title-color: #201f1f;
	--text-bright-color: #5c4eae;
	--header-text-color: #606060;
	--header-nav-hover: #6c5fbc;
	--block-lines-color: #cbcbcb;
}
