.dishes {
	&__item {
		background-color: #fff;
		border: 1.5px solid #f4f4f6;
		border-radius: 35px;
		overflow: hidden;
		box-shadow: 7px 82px 41px rgba(229, 229, 229, 0.7);
		padding: 23px;
		position: relative;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.1);
		}

		&__img {
			text-align: center;
			img {
				max-width: 100%;
				vertical-align: top;
			}
		}

		&__tag {
			font-size: 12px;
			color: #fb461d;
			background-color: #f7c5ba;

			max-width: fit-content;
			border-radius: 5px;
			padding: 3px 6px;
			margin-bottom: 5px;
		}

		&__name {
			color: #323142;
			font-weight: 600;
			font-size: 23px;
			margin-bottom: 5px;
		}

		&__info {
			display: flex;
			align-items: center;
			margin-bottom: 7px;
			color: #8e97a6;
			line-height: 23px;

			&_dur {
				margin-right: 30px;
			}

			&_rating {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					height: 30px;
					width: 30px;
					top: 20%;
					right: 100%;
					background: url(../../assets/star.svg) top center no-repeat;
				}
			}
		}

		&__bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			-moz-column-gap: 30px;
			column-gap: 30px;

			&_cost {
				font-weight: 600;
				font-size: 26px;
				line-height: 40px;
				color: #323142;

				span {
					font-size: 19px;
					color: #8e97a6;
				}
			}

			button {
				color: #fff;
				background-color: #323142;
				width: 38px;
				height: 36px;
				border-radius: 9px;
			}
		}

		&__fav {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}
}
